In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords

# 1. Basic Feature Extraction

In [2]:
train=pd.read_csv('/home/vivek/Documents/Data_Science/Data_Sets/Sentiment_Analysis/train_E6oV3lV.csv')

In [3]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Number of Words

In [4]:
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

# Number of characters

In [13]:
train['char_count']=train['tweet'].str.len()
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...         118
4             factsguide: society now    #motivation          39

# Average Word Length

In [14]:
def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))

train['avg_word']=train['tweet'].apply(lambda x:avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...         4
1  @user @user thanks for #lyft credit i can't us...         5
2                                bihday your majesty         5
3  #model   i love u take with u all the time in ...         7
4             factsguide: society now    #motivation         8

# Number of stopwords

In [15]:
from nltk.corpus import stopwords
stop=stopwords.words('english')
train['stop_words']=train['tweet'].apply(lambda x:len([x for x in x.split() if x in stop]))
train[['tweet','stop_words']].head()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  This is separate from the ipykernel package so we can avoid doing imports until

                                               tweet  stop_words
0   @user when a father is dysfunctional and is s...          10
1  @user @user thanks for #lyft credit i can't us...           5
2                                bihday your majesty           1
3  #model   i love u take with u all the time in ...           5
4             factsguide: society now    #motivation           1

# Number of special characters

In [16]:
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['tweet','hastags']].head()

                                               tweet  hastags
0   @user when a father is dysfunctional and is s...        1
1  @user @user thanks for #lyft credit i can't us...        3
2                                bihday your majesty        0
3  #model   i love u take with u all the time in ...        1
4             factsguide: society now    #motivation        1

# Number of numerics

In [18]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

# Number of Uppercase words

In [19]:
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet','upper']].head()

                                               tweet  upper
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

# 2. Basic Pre-processing

# Lower case

In [20]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

# Removing Punctuation

In [21]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3       model i love u take with u all the time in ur
4                    factsguide society now motivation
Name: tweet, dtype: object

# Removal of Stop Words

In [22]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                          model love u take u time ur
4                        factsguide society motivation
Name: tweet, dtype: object

# Common word removal

In [23]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17495
love      2725
day       2253
happy     1691
amp       1601
im        1156
u         1143
life      1126
time      1125
like      1052
dtype: int64

In [24]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                                        model take ur
4                        factsguide society motivation
Name: tweet, dtype: object

# Rare words removal

In [27]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

lalafell           1
aaaaa              1
hooponopono        1
healthyeatting     1
noises             1
hungergames        1
homo               1
mutualrespect      1
englishlearning    1
thebeatles         1
dtype: int64

In [28]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                                        model take ur
4                        factsguide society motivation
Name: tweet, dtype: object

# Spelling correction

In [29]:
from textblob import TextBlob
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                                        model take or
4                        factsguide society motivation
Name: tweet, dtype: object

# Tokenization

In [30]:
TextBlob(train['tweet'][0]).words

WordList(['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run'])

# Stemming

In [31]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                                        model take ur
4                              factsguid societi motiv
Name: tweet, dtype: object

# Lemmatization

In [32]:
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                                        model take ur
4                        factsguide society motivation
Name: tweet, dtype: object

# 3. Advance Text Processing

# N-grams

In [33]:
TextBlob(train['tweet'][0]).ngrams(2)

[WordList([u'father', u'dysfunctional']),
 WordList([u'dysfunctional', u'selfish']),
 WordList([u'selfish', u'drag']),
 WordList([u'drag', u'kid']),
 WordList([u'kid', u'dysfunction']),
 WordList([u'dysfunction', u'run'])]

# Term frequency

In [34]:
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

          words  tf
0         cause   1
1   disapointed   1
2         offer   1
3        thanks   1
4          cant   1
5        credit   1
6    getthanked   1
7    wheelchair   1
8           pdx   1
9          dont   1
10          van   1
11         lyft   1
12          use   1

# Inverse Document Frequency

In [35]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))
tf1

          words  tf        idf
0         cause   1   5.697093
1   disapointed   1  10.372303
2         offer   1   6.522093
3        thanks   1   4.595120
4          cant   1   3.526361
5        credit   1   7.327781
6    getthanked   1   9.679156
7    wheelchair   1   9.273691
8           pdx   1   8.762802
9          dont   1   3.713572
10          van   1   5.236442
11         lyft   1   8.762802
12          use   1   3.555348

# Term Frequency â€“ Inverse Document Frequency (TF-IDF)

In [36]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

          words  tf        idf      tfidf
0         cause   1   5.697093   5.697093
1   disapointed   1  10.372303  10.372303
2         offer   1   6.522093   6.522093
3        thanks   1   4.595120   4.595120
4          cant   1   3.526361   3.526361
5        credit   1   7.327781   7.327781
6    getthanked   1   9.679156   9.679156
7    wheelchair   1   9.273691   9.273691
8           pdx   1   8.762802   8.762802
9          dont   1   3.713572   3.713572
10          van   1   5.236442   5.236442
11         lyft   1   8.762802   8.762802
12          use   1   3.555348   3.555348

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['tweet'])

train_vect

<31962x1000 sparse matrix of type '<type 'numpy.float64'>'
	with 111587 stored elements in Compressed Sparse Row format>

# Bag of Words

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['tweet'])
train_bow

<31962x1000 sparse matrix of type '<type 'numpy.int64'>'
	with 251768 stored elements in Compressed Sparse Row format>

# Sentiment Analysis

In [38]:
train['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (-0.3, 0.535416666667)
1                (0.2, 0.2)
2                (0.0, 0.0)
3                (0.0, 0.0)
4                (0.0, 0.0)
Name: tweet, dtype: object

In [39]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['tweet','sentiment']].head()

                                               tweet  sentiment
0  father dysfunctional selfish drag kid dysfunct...       -0.3
1  thanks lyft credit cant use cause dont offer w...        0.2
2                                     bihday majesty        0.0
3                                      model take ur        0.0
4                      factsguide society motivation        0.0